<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
  
	<SiegfriedSiege_Settings>Siegfried Siege</SiegfriedSiege_Settings>
	<SiegfriedSiege_Label>Siegfried Siege</SiegfriedSiege_Label>
	
	<SiegfriedSiege_SettingsGeneral>General</SiegfriedSiege_SettingsGeneral>
	<SiegfriedSiege_SettingsOrders>Orders</SiegfriedSiege_SettingsOrders>
	
	<SiegfriedSiege_SettingsOrdersToggle>Toggle orders</SiegfriedSiege_SettingsOrdersToggle>
	<SiegfriedSiege_SettingsGeneral>Back to general</SiegfriedSiege_SettingsGeneral>
	
	<SiegfriedSiege_RepeatOrders>Enable repeat orders: {0}</SiegfriedSiege_RepeatOrders>
	<SiegfriedSiege_RepeatOrdersTooltip>Toggle whether or not Siegfried can give the same order as the current order.</SiegfriedSiege_RepeatOrdersTooltip>
	<SiegfriedSiege_MTBDaysOrders>MTB days for orders: {0} days</SiegfriedSiege_MTBDaysOrders>
	<SiegfriedSiege_MTBDaysOrdersTooltip>Sets the average number of days between Siegfried's orders.</SiegfriedSiege_MTBDaysOrdersTooltip>
	
	<SiegfriedSiege_BuildingDmgSetting>Building damage factor: {0}x</SiegfriedSiege_BuildingDmgSetting>
	<SiegfriedSiege_BuildingDmgSettingTooltip>Sets how much Siegfried Siege multiples damage to buildings by, independent of any existing factors.</SiegfriedSiege_BuildingDmgSettingTooltip>
	<SiegfriedSiege_ConstructSetting>Construction speed factor: {0}x</SiegfriedSiege_ConstructSetting>
	<SiegfriedSiege_ConstructSettingTooltip>Sets how much Siegfried Siege multiplies construction speed.</SiegfriedSiege_ConstructSettingTooltip>
	<SiegfriedSiege_HungerFactor>Combat hunger factor: {0}x</SiegfriedSiege_HungerFactor>
	<SiegfriedSiege_HungerFactorTooltip>Sets how much hunger rate is multiplied by while combat is occuring.</SiegfriedSiege_HungerFactorTooltip>
	
	<SiegfriedSiege_CombatConstructEnable>Enable combat construct boost: {0}</SiegfriedSiege_CombatConstructEnable>
	<SiegfriedSiege_CombatConstructEnableTooltip>Toggle an additional multiplier to construction speed that only applies and grows over time in the middle of combat, from 1x to the max value.</SiegfriedSiege_CombatConstructEnableTooltip>
	<SiegfriedSiege_CombatConstructTime>Time to max multiplier: {0} secs</SiegfriedSiege_CombatConstructTime>
	<SiegfriedSiege_CombatConstructTimeTooltip>Set how long a pawn must be in combat to receive the full combat construction speed multiplier.</SiegfriedSiege_CombatConstructTimeTooltip>
	<SiegfriedSiege_CombatConstructSetting>Max boost in combat: {0}x</SiegfriedSiege_CombatConstructSetting>
	<SiegfriedSiege_CombatConstructSettingTooltip>Set the maximum combat construction speed multiplier a pawn gets after spending enough time in combat.</SiegfriedSiege_CombatConstructSettingTooltip>
	
	<SiegfriedSiege_CombatMentalEnable>Mental thresh decrease in combat: {0}</SiegfriedSiege_CombatMentalEnable>
	<SiegfriedSiege_CombatMentalEnableTooltip>Toggle whether combat decreases pawn mental break threshold by a percentage.</SiegfriedSiege_CombatMentalEnableTooltip>
	<SiegfriedSiege_CombatMentalMult>Combat mental thresh mult: {0}x</SiegfriedSiege_CombatMentalMult>
	<SiegfriedSiege_CombatMentalMultTooltip>Set the mental threshold factor a pawn gets while in combat. Decreasing this makes it harder for pawns to suffer mental breaks.</SiegfriedSiege_CombatMentalMultTooltip>

</LanguageData>